@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body  {
  height: 100%;
  background: #e5e5e5;
}

/* 
.App {
  margin: 0 auto;
  text-align: center;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  background: #e5e5e5;
  height: 100vh;
} */
/* 
.AppHeader {
  height: 60px;
  position: absolute;
  width: 100%;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
} */

/* .section {
  width: 1000px;
  margin: 0 auto;
} */

/* .Section {
  position: absolute;
  width: 400px;
  background: #ffffff;
  border-radius: 10px;
} */

/*.loginSection {
  height: 350px;
  top: 90px;
  border-radius: 10px;
  background: #ffffff;
} */

/* .FVSection {
  height: 450px;
  top: 460px;
}

.searchSection {
  width: 580px;
  height: 820px;
  top: 90px;
  margin-left: 430px;
} */

/*.App {
  text-align: center;
  margin: 70px auto;
  width : 400px;
  font-size: 0.85em;
}

.searchOpen {
  text-align: center;
  margin: 70px auto;
  width : 700px;
  font-size: 0.85em;
  
}


.AppTitle {
  font-weight: bold;
  font-size:0.9em;
  margin-top:10px;
}

.mainTitle {
  font-weight: bold;
  font-size:1.2em;
  margin-top:10px;
}

.idPass{
  margin-top:10px
}

.idBox {
  margin-top: 10px;
  
}

#user, #pass {
  text-align: left;
  
}

.companyArea {
  float: left;
  margin-left: 120px;
  width: 400px
}

.serverName{
  margin-top: 100px;
}


*/

